# Byte-compiled / optimized / DLL files
__pycache__/


# Academic papers I have read for this.
papers/

# LaTeX
# LaTeX intermediate files
*.aux
*.bbl
*.blg
*.brf
*.fls
*.fdb_latexmk
*.log
*.out
*.toc
*.lof
*.lot
*.lol
*.nav
*.snm
*.synctex.gz
*.synctex(busy)
*.vrb
*.pdf

# just track the two deliverable pdfs.
!deliverables/gh124-project-plan.pdf
!deliverables/gh124-final-report.pdf

# binary files
bin/

# Search engine indexing database and queue.
db/
que
updater_que

# local logs
logs/

# prototype output 
src/ollama_output.txt
# llm pipeline outout
pipeline_output/
# llm pipeline config
config.json
